Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

release: production-ready build with compliance, tests, and bootstrap
  .gitignore
  PHASE_2_FINAL_REPORT.md
  client/.env.example
Due: prettier --write

chore(lint): fix quotes and cleanup compliance middleware
  src/middleware/jwtTenantContext.js
  src/routes/compliance.js
  tests/routes/compliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(lint): fix quotes in compliance tests
  tests/routes/compliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(db): track production database migrations and seeders
  .gitignore
  database/migrations/.gitkeep
  database/migrations/20251225000100-create-companies.js
  database/migrations/20251225000200-create-users.js
  database/migrations/20251225000300-create-revoked-tokens.js
  database/migrations/20251225000400-create-audit-logs.js
  database/migrations/20251225000500-create-invoices.js
  database/migrations/20251225000600-create-invoice-items.js
  database/migrations/20251225000700-create-expenses.js
  database/migrations/20251225000800-create-bank-statements.js
  database/migrations/20251225000900-create-bank-transactions.js
  database/migrations/20251225001000-create-tax-reports.js
  database/seeders/20251225001100-seed-default-company.js
  database/seeders/20251225001200-seed-admin-user.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(auth): auto-assign company in test/dev registration
  database/seeders/20251225001200-seed-admin-user.js
  src/services/authService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: production ready release
  client/public/brand/logo.png
  client/src/components/Footer.jsx
  client/src/components/TopBar.jsx
  client/src/pages/Login.jsx
  database/seeders/20251225001200-seed-admin-user.js
  src/services/authService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

db: add active_tokens table and model for auth sessions
  database/migrations/20251225001300-create-active-tokens.js
  src/models/ActiveToken.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

db: add active_tokens table for auth session tracking
  database/migrations/20251225001300-create-active-tokens.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(ui): production dashboard, expenses CRUD, admin demo data endpoint
  client/src/App.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/ExpensesCreate.jsx
  client/src/services/expensesAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(backend): finalize admin routes and app bootstrap
  src/app.js
  src/routes/admin.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(api): align production API baseURL and auth handling
  client/src/services/api.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ui): remove invalid search state causing runtime crash
  client/src/components/TopBar.jsx
Due: eslint --fix, prettier --write

feat(frontend): production-ready UI audit, routes completeness, and UX fixes
  client/src/App.jsx
  client/src/components/TopBar.jsx
  client/src/pages/BankStatements.jsx
  client/src/pages/Expenses.jsx
Due: eslint --fix, prettier --write

fix(layout): properly handle children and stabilize UI rendering
  client/src/components/Layout.jsx
Due: eslint --fix, prettier --write

fix(ui): stabilize header navigation, routing, and UX interactions
  client/src/components/TopBar.jsx
Due: eslint --fix, prettier --write

fix(ui): stabilize sidebar sections, icons, and navigation UX
  client/src/components/Sidebar.jsx
Due: eslint --fix, prettier --write

chore(frontend): production-safe UI/UX hardening, no-blank states, and navigation consistency
  client/public/brand/logo.png
  client/src/components/AIDrawer.jsx
  client/src/components/AISuggestionCard.jsx
  client/src/components/MetricCard.jsx
  client/src/components/MutationIntentGuard.jsx
  client/src/components/NotificationToast.jsx
  client/src/components/PlanBadge.jsx
  client/src/components/Sidebar.jsx
  client/src/components/ui/Drawer.jsx
  client/src/components/ui/Modal.jsx
  client/src/components/ui/Pagination.jsx
  client/src/hooks/useApi.js
  client/src/lib/rbac.js
  client/src/lib/utils/validation.js
  client/src/pages/AIInsights.jsx
  client/src/pages/Analytics.jsx
  client/src/pages/Billing.jsx
  client/src/pages/Companies.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/GermanTaxReports.jsx
  client/src/pages/InvoiceCreate.jsx
  client/src/pages/InvoiceEdit.jsx
  client/src/pages/Invoices.jsx
  client/src/pages/Login.jsx
  client/src/pages/Onboarding.jsx
  client/src/pages/Pricing.jsx
  client/src/pages/Users.jsx
  client/src/services/aiInsightsMappers.js
  client/src/services/bankStatementsAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(demo): add safe demo data seeder and update prod compose
  database/seeders/20251226-demo-seed.js
  database/seeders/demo/20251226-demo-seed.README.md
  database/seeders/demo/20251226-demo-seed.js
  docker-compose.prod.yml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(auth): align CORS credentials, stabilize frontend API URL, add safe demo seeder
  client/src/services/api.js
  database/seeders/20251226-demo-seed.js
  database/seeders/demo/20251226-demo-seed.js
  docker-compose.prod.yml
  src/middleware/cors.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(release): lock Phase 0 - production ready, audited, and approved
  .github/workflows/ci.yml
  README.md
  ROUTE_MAP.md
  client/src/App.jsx
  client/src/components/NotificationToast.jsx
  client/src/components/Sidebar.jsx
  client/src/components/ui/Button.jsx
  client/src/components/ui/Input.jsx
  client/src/components/ui/Modal.jsx
  client/src/components/ui/Toast.jsx
  client/src/lib/designTokens.js
  client/src/pages/Landing.jsx
  client/src/pages/Login.jsx
  client/src/pages/Pricing.jsx
  client/src/pages/RequestAccess.jsx
  client/src/tests/routes.smoke.test.jsx
  client/src/tests/sidebar.test.jsx
  database/migrations/20251225001300-create-active-tokens.js
  database/migrations/20251227000000-extend-demo-schema.js
  database/migrations/20251227001000-create-file-attachments.js
  database/seeders/20251225001100-seed-default-company.js
  database/seeders/20251225001200-seed-admin-user.js
  database/seeders/20251226-demo-seed.js
  database/seeders/demo/20251226-demo-seed.js
  docs/AUTHENTICATION_E2E.md
  docs/DEMO_SEEDING.md
  docs/RELEASE_CHECKLIST.md
  docs/UI_AUDIT.md
  package.json
  scripts/demo-verify.js
  scripts/migrate-prod.js
  scripts/seed-demo-prod.js
  src/middleware/rateLimiter.js
  src/routes/auth.js
  src/routes/compliance.js
  src/services/authService.js
  tests/routes/auth.smoke.test.js
  tests/routes/compliance.test.js
  tests/routes/production.smoke.test.js
  tests/utils/canBindSockets.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: fix frontend build by using local vite via npx
  client/package.json
Due: prettier --write

ci: add vite as local devDependency for frontend build
  client/package-lock.json
  client/package.json
Due: prettier --write

ci: use local vite binary for frontend build
  client/package.json
Due: prettier --write

ci: install frontend dependencies before smoke build
  package.json
Due: prettier --write

chore(ui): polish ux and production readiness
  .dockerignore
  .gitignore
  Dockerfile.backend
  README.md
  ROUTE_MAP.md
  client/src/App.jsx
  client/src/components/PermissionGuard.jsx
  client/src/components/Sidebar.jsx
  client/src/components/TopBar.jsx
  client/src/pages/BankStatements.jsx
  client/src/pages/Companies.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/RBACManagement.jsx
  client/src/pages/Users.jsx
  client/src/tests/routes.smoke.test.jsx
  database/.DS_Store
  database/dev.sqlite
  database/smartaccounting.db
  docker-compose.prod.yml
  docs/audits/FRONTEND_PAGE_INVENTORY.md
  docs/audits/ROUTE_INVENTORY.md
  docs/audits/UI_API_MISMATCH_REPORT.md
  scripts/create-admin.js
  scripts/verify-core-api.sh
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: update demo seeder login sheet and UX helpers
  database/seeders/demo/20251226-demo-seed.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize production verification script (POSIX-safe, Docker-ready)
  scripts/verify-production.sh
Due: none

feat: complete bank statements & OCR flow with demo seeding and docs
  .env.example
  .env.prod.example
  README.md
  ROUTE_MAP.md
  client/public/locales/en/translation.json
  client/src/App.jsx
  client/src/components/Sidebar.jsx
  client/src/lib/featureFlags.js
  client/src/lib/permissions.js
  client/src/lib/permissions.test.js
  client/src/pages/BankStatementDetail.jsx
  client/src/pages/BankStatementImport.jsx
  client/src/pages/BankStatementPreview.jsx
  client/src/pages/BankStatementReconciliationPreview.jsx
  client/src/pages/BankStatements.jsx
  client/src/pages/OCRPreview.jsx
  client/src/pages/__tests__/BankStatementDetailManualReconciliation.test.jsx
  client/src/pages/__tests__/BankStatementPreview.test.jsx
  client/src/pages/__tests__/OCRPreview.test.jsx
  client/src/services/bankStatementsAPI.js
  client/src/services/ocrAPI.js
  client/src/tests/routes.smoke.test.jsx
  database/migrations/20251228000500-create-bank-statement-import-dry-runs.js
  database/seeders/demo/20251226-demo-seed.js
  docs/DEMO_SEEDING.md
  docs/backend-route-map.md
  package.json
  scripts/seed-demo-prod.js
  scripts/verify-production.sh
  src/models/BankStatementImportDryRun.js
  src/models/BankTransaction.js
  src/routes/bankStatements.js
  src/routes/ocr.js
  src/services/auditLogService.js
  src/services/bankStatementService.js
  src/services/ocrService.js
  tests/fixtures/bank-statement-dry-run.csv
  tests/routes/bankStatements.test.js
  tests/routes/ocrPreview.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize OCR preview by mocking OCR engine and isolating side effects
  client/src/pages/BankStatementDetail.jsx
  database/seeders/demo/20251226-demo-seed.js
  src/routes/ocr.js
  src/services/ocrService.js
  tests/routes/ocrPreview.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: ignore OCR native assets and update spellcheck dictionary
  .cspell.json
  .gitignore
Due: prettier --write

feat: wire AI read-only mode with feature flags and audit logging
  .env.example
  .env.prod.example
  ROUTE_MAP.md
  client/.env.example
  client/src/App.jsx
  client/src/components/Sidebar.jsx
  client/src/lib/constants.js
  client/src/lib/featureFlags.js
  client/src/tests/routes.smoke.test.jsx
  docs/DOCUMENTATION_AUDIT.md
  src/routes/aiReadOnly.js
  src/services/ai/aiAuditLogger.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: introduce AI Assistant (read-only) for Phase 4 activation
  client/src/pages/AIAssistant.jsx
  client/src/services/aiAssistantAPI.js
  docs/PHASE_4_PROGRESSIVE_FEATURE_ACTIVATION.md
  src/services/ai/aiAssistantService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: finalize test/docker setup and demo seeder safety
  config/sequelize.js
  database/seeders/demo/20251226-demo-seed.js
  docker-compose.test.yml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: ignore local sqlite dev database
  .gitignore
Due: none

release: production-ready system (audit, AI, VAT, GoBD, demo verified)
  database/migrations/20251225000600-create-invoice-items.js
  database/migrations/20251229101000-align-taxreport-id-type.js
  database/migrations/20251230100000-create-ai-insights.js
  database/migrations/20260102000000-set-invoice-items-id-default.js
  database/migrations/20260105000000-create-ai-insight-decisions.js
  database/migrations/20260106000000-add-audit-log-immutable.js
  database/seeders/demo/20251226-demo-seed.js
  docs/PRODUCTION_DEPLOYMENT_RUNBOOK.md
  docs/audits/FINAL_CERTIFICATION.md
  docs/audits/PHASE_0_BASELINE.md
  docs/audits/PHASE_1_ARCHITECTURE.md
  docs/audits/PHASE_2_DATABASE.md
  docs/audits/PHASE_3_ACCOUNTING.md
  docs/audits/PHASE_4_SECURITY.md
  docs/audits/PHASE_5_AI_SAFETY.md
  docs/audits/PHASE_6_COMPLIANCE.md
  docs/audits/PHASE_7_PERFORMANCE.md
  docs/audits/PHASE_8_UX_DX.md
  package-lock.json
  package.json
  scripts/demo-verify.js
  scripts/migrate-prod.js
  scripts/verify-schema.js
  src/models/InvoiceItem.js
  tests/integration/demoSeed.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(lint): eliminate remaining warnings and finalize production certification
  database/migrations/20251229102000-align-activetoken-revokedtoken-id.js
  database/seeders/demo/20251226-demo-seed.js
  docs/audits/FINAL_CERTIFICATION.md
  src/routes/aiReadOnly.js
  src/services/ai/aiAuditLogger.js
  src/services/ai/aiDataService.js
  tests/demoSeedInvoiceDomain.test.js
  tests/integration/runtimeGuards.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(release): finalize v1.0.2 – postgres-safe guards, lint clean, prod certified
  package.json
  scripts/wait-for-postgres.js
  tests/integration/runtimeGuards.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(runtime-guards): make AI schema drop dialect-safe (sqlite/postgres)
  tests/integration/runtimeGuards.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.js
