Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css,scss}": [
    "prettier --write"
  ],
  "*.js": [
    "jest --bail --findRelatedTests --passWithNoTests"
  ]
}

chore(lint): auto-fix quotes, commas, and formatting
  package-lock.json
  package.json
  src/lib/logger/index.js
  src/middleware/upload.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(phase-9.2): lint discipline, CI alignment, intent annotations
  .cspell.json
  .github/workflows/ci.yml
  src/middleware/security.js
  src/models/BankTransaction.js
  src/routes/aiReadOnly.js
  src/routes/telemetry.js
  src/services/ai/aiDataService.js
  src/services/ai/aiSuggestionService.js
  src/services/ai/automation/detectors/anomalyDetector.js
  src/services/ai/automation/detectors/duplicateInvoiceDetector.js
  src/services/ai/automation/detectors/unmatchedBankTransactionDetector.js
  src/services/invoiceService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: all suites passing, phase stabilized
  src/models/index.js
  tests/globalSetup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(test-infra): unify sequelize lifecycle for jest and production
  jest.config.js
  src/lib/logger/index.js
  tests/env.js
  tests/globalSetup.js
  tests/globalTeardown.js
  tests/setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(cache): move declarations to module scope and satisfy ESLint
  src/lib/cache/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(phase-9.3): CI hardening, lint discipline, cache/metrics test safety
  .github/workflows/ci.yml
  package.json
  src/middleware/metrics.js
  tests/globalTeardown.js
  tests/security/security.test.js
  tests/setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(prod): clean env handling, docker backend permissions, sqlite build deps
  backend/.env.example
  backend/Dockerfile
  client/.env.example
  docker-compose.prod.yml
Due: none

fix: correct database import path in models
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: harden gitignore for production
  .gitignore
Due: none

fix(prod): clean docker setup, remove backend duplication, stabilize prod build
  Dockerfile
  backend/Dockerfile
  client/.dockerignore
  client/Dockerfile
  client/nginx.conf
  docker-compose.prod.yml
  docs/archive/api-documentation.old.md
  smartaccounting@1.0.0
Due: prettier --write

fix: unify sequelize instance and resolve DataTypes crash
  src/models/index.js
  src/routes/system.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Production: docker hardening + backend bootstrap fixes + cleanup
  .dockerignore
  .gitignore
  client/.dockerignore
  docker-compose.prod.yml
  src/app.js
  src/config/appVersion.js
  src/utils/disabledFeatureResponse.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: fix eslint single-quote violations
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: disable globalSetup in CI to unblock production
  jest.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: disable globalSetup to prevent DB bootstrap in CI
  jest.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: fully disable globalSetup to prevent DB loading in CI
  jest.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(models): use config/database instead of lib/database
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Update database import path in index.js
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(ai): allow viewer decision attempt to return 403 or 404
  tests/routes/aiInsights.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize models, database bootstrap, and test suite for production
  jest.config.js
  src/models/AIInsight.js
  src/models/AIInsightDecision.js
  src/models/Company.js
  src/models/Expense.js
  src/models/FileAttachment.js
  src/models/Invoice.js
  src/models/InvoiceItem.js
  src/models/User.js
  src/models/index.js
  src/server.js
  src/services/taxAccountingEngine.js
  tests/globalSetup.js
  tests/globalTeardown.js
  tests/integration/aiSuggestionGate.test.js
  tests/routes/aiExports.test.js
  tests/routes/aiInsights.test.js
  tests/routes/gdpr.test.js
  tests/setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(models): stabilize Sequelize DataTypes bootstrap
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(models): use DataTypes directly for Sequelize v6 compatibility
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(models): correct database index import path for CI
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: stabilize jest by disabling npm cache in test job
  .github/workflows/ci.yml
Due: none

fix(models): use explicit absolute database bootstrap path
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ci): allow sequelize database bootstrap
  .gitignore
  src/lib/database/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(db): track sequelize helpers and stabilize model bootstrap
  src/lib/database/runMigrations.js
  src/lib/database/testDatabase.js
  src/models/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: ignore local shared workspace
  .gitignore
Due: none

fix(ai): centralize sequelize teardown and add mutation intent config
  .gitignore
  shared/ai/mutationIntentConfig.json
  tests/globalTeardown.js
  tests/routes/aiExports.test.js
  tests/routes/aiInsights.test.js
  tests/services/aiInsightsService.test.js
  tests/setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(db): include migrations and seeders for production bootstrap
  database/migrations/20240101000000-create-core-schema.js
  database/migrations/20240102000000-add-revoked-tokens.js
  database/schema.sql
  database/seeders/20240101010000-create-admin-bootstrap.js
  database/smartaccounting.db.keep
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: allow database bootstrap structure for production
  .gitignore
  src/lib/database/.keep
Due: none

db: add isAnonymized column to users
  database/migrations/20241224000000-add-is-anonymized-to-users.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: database, seeds, and auth readiness gate before Phase 10–13
  database/migrations/20240101000000-create-core-schema.js
  database/migrations/20241224000000-add-is-anonymized-to-users.js
  database/migrations/20241226000000-create-expenses.js
  database/migrations/20250101000000-add-performance-indexes.js
  database/migrations/20250107000000-create-active-tokens.js
  database/seeders/20250106000000-demo-suite.js
  package.json
  scripts/ops/verify/auth-readiness.js
  scripts/ops/verify/check-migrations.js
  src/models/BankTransaction.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: readiness gate failures (migrations & auth verification)
  database/migrations/20240101000000-create-core-schema.js
  database/migrations/20250108000000-rename-transaction-date-columns.js
  database/migrations/20250109000000-add-audit-log-immutability-fields.js
  database/migrations/20250110000000-add-file-attachment-relations.js
  scripts/ops/verify/auth-readiness.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ci): use valid gitleaks-action version
  .github/workflows/ci.yml
Due: none

fix: explicit database mode selection for readiness gates
  package.json
  scripts/auth-readiness.js
  scripts/check-migrations.js
  src/config/database.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ci): pass GITHUB_TOKEN to gitleaks for PR scanning
  .github/workflows/ci.yml
Due: none

fix(ci): use official gitleaks action with required GITHUB_TOKEN
  .github/workflows/ci.yml
Due: none

release: production-ready build with test-safe server, compliance endpoint, and DB bootstrap
  .env.prod.example
  .gitignore
  .nvmrc
  README.md
  docs/10_INTEGRATIONS_DATEV_ELSTER_EMAIL.md
  docs/AI_AUTOMATION_GUARANTEES.md
  docs/AUDIT_TRAIL.md
  docs/DOCUMENTATION_AUDIT.md
  docs/PHASE_0_AUDIT.md
  docs/PHASE_1_AUDIT.md
  docs/PHASE_2_FINAL_REPORT.md
  docs/PHASE_3_AUDIT.md
  docs/PRODUCTION_BOOTSTRAP.md
  docs/_planned/10_INTEGRATIONS_DATEV_ELSTER_EMAIL.md
  docs/ai_governance_compliance_onepager.md
  docs/compliance_security_summary.md
  docs/operations/secret-rotation-checklist.md
  index.js
  scripts/README.md
  shared/README.md
  src/middleware/jwtTenantContext.js
  src/routes/compliance.js
  src/routes/emailTest.js
  src/utils/validateEnv.js
  tests/routes/auth.test.js
  tests/routes/compliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests
