Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add page-aware context to AI companion
  client/src/components/GlobalAICompanion.jsx
  client/src/components/__tests__/GlobalAICompanion.test.jsx
  client/src/lib/__tests__/aiPageContext.test.js
  client/src/lib/aiPageContext.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: connect AI manager to read-only AI data
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
Due: eslint --fix, prettier --write

feat: surface AI manager in sidebar navigation
  client/src/components/Sidebar.jsx
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  client/src/locales/en/translation.json
  client/src/navigation/sidebarNavigation.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

style: polish AI workspace dark mode experience
  client/src/components/AIInsightCard.jsx
  client/src/components/AISuggestionCard.jsx
  client/src/components/AITrustBanner.jsx
  client/src/components/GlobalAICompanion.jsx
  client/src/components/Layout.jsx
  client/src/components/ui/Button.jsx
  client/src/pages/AIManager.jsx
Due: eslint --fix, prettier --write

fix: prevent AI assistant startup loading loop
  client/src/pages/AIAssistant.jsx
Due: eslint --fix, prettier --write

fix: keep active sidebar navigation in view
  client/src/components/Sidebar.jsx
Due: eslint --fix, prettier --write

style: refine premium app shell design tokens
  client/src/index.css
Due: prettier --write

style: redesign AI assistant workspace
  client/src/components/ui/Card.jsx
  client/src/pages/AIAssistant.jsx
Due: eslint --fix, prettier --write

style: polish analytics workspace layout
  client/src/pages/Analytics.jsx
Due: eslint --fix, prettier --write

feat: localize analytics workspace copy
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  client/src/locales/en/translation.json
  client/src/pages/Analytics.jsx
Due: eslint --fix, prettier --write

fix: complete analytics page localization
  client/src/pages/Analytics.jsx
Due: eslint --fix, prettier --write

feat: strengthen AI assistant accounting intelligence
  src/services/ai/aiAssistantService.js
  src/services/ai/promptRegistry.js
  src/services/ai/providers/openaiProvider.js
  tests/ai/assistantCompliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: normalize AI assistant response formatting
  src/services/ai/aiAssistantService.js
  tests/ai/assistantCompliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: harden AI assistant text normalization
  src/services/ai/aiAssistantService.js
  tests/ai/assistantCompliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: normalize final AI assistant response payloads
  src/services/ai/aiAssistantService.js
  tests/ai/assistantCompliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: polish final AI assistant formatting edge cases
  src/services/ai/aiAssistantService.js
  tests/ai/assistantCompliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI manager decision intelligence
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
Due: eslint --fix, prettier --write

feat: redesign AI assistant chat experience
  client/src/lib/aiChatAttachments.js
  client/src/lib/aiChatIntent.js
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI document intake analysis
  client/src/lib/aiChatAttachments.js
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
  client/src/services/ocrAPI.js
  src/routes/ocr.js
  src/security/permissions.js
  src/services/ai/documentIntakeAssistantService.js
  tests/routes/ocrDocumentIntake.test.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add confirmed AI document draft creation
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
Due: eslint --fix, prettier --write

fix: handle unsupported PDF OCR intake safely
  src/routes/ocr.js
  src/services/ocrService.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: extract digital PDF text for document intake
  package-lock.json
  package.json
  src/routes/ocr.js
  src/services/ocrService.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: harden AI document draft confirmation flow
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
  client/src/services/__tests__/expensesAPI.test.jsx
  client/src/services/__tests__/invoicesAPI.test.js
  client/src/services/expensesAPI.js
  client/src/services/invoicesAPI.js
  src/middleware/apiTimeout.js
  src/routes/invoices.js
  src/services/expenseService.js
  src/services/ocrService.js
  src/validators/expenseValidator.js
  tests/routes/expenses.test.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add document review gate contract
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
  src/routes/ocr.js
  src/services/ai/documentIntakeAssistantService.js
  tests/routes/ocrDocumentIntake.test.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add document intake recheck endpoint
  src/routes/ocr.js
  src/services/ai/documentIntakeAssistantService.js
  tests/routes/ocrDocumentIntake.test.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add document intake review form
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
  client/src/services/__tests__/ocrAPI.test.js
  client/src/services/ocrAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: create document drafts from reviewed values
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
  client/src/services/__tests__/ocrAPI.test.js
  client/src/services/ocrAPI.js
  src/routes/ocr.js
  src/services/ai/documentIntakeAssistantService.js
  tests/routes/ocrDocumentIntake.test.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add manual override for restricted document drafts
  src/routes/ocr.js
  src/services/ai/documentIntakeAssistantService.js
  tests/routes/ocrDocumentIntake.test.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add manual override review flow to AI assistant
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
Due: eslint --fix, prettier --write

feat: add accounting decision contract for document intake
  src/services/ai/documentIntakeAssistantService.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: attach accounting decision to document intake lifecycle
  src/routes/ocr.js
  src/services/ai/documentIntakeAssistantService.js
  tests/routes/ocrDocumentIntake.test.js
  tests/services/documentIntakeAssistantService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: show accounting decision in AI document analysis
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
Due: eslint --fix, prettier --write

feat: persist accounting decision in reviewed draft audit
  src/routes/ocr.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add document intake inbox endpoint
  src/routes/ocr.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add document inbox frontend API
  client/src/services/__tests__/ocrAPI.test.js
  client/src/services/ocrAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add document inbox page
  client/src/pages/DocumentInbox.jsx
  client/src/pages/__tests__/DocumentInbox.test.jsx
Due: eslint --fix, prettier --write

feat: add document inbox route and navigation
  client/src/App.jsx
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  client/src/locales/en/translation.json
  client/src/navigation/sidebarNavigation.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add accounting ledger schema
  database/migrations/20260119000000-create-accounting-ledger.js
  src/models/ChartAccount.js
  src/models/JournalEntry.js
  src/models/JournalEntryLine.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add accounting posting service skeleton
  src/services/accountingPostingService.js
  tests/services/accountingPostingService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add default chart of accounts service
  src/services/chartOfAccountsService.js
  tests/services/chartOfAccountsService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.js
