Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: group AI manager review queue
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
Due: eslint --fix, prettier --write

feat: add evidence tags to AI manager review queue
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
Due: eslint --fix, prettier --write

feat: link AI manager review items to assistant
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
Due: eslint --fix, prettier --write

feat: show AI assistant review context banner
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
Due: eslint --fix, prettier --write

chore: make local runtime scripts project-safe
  client/vite.config.js
  scripts/start-all.sh
  scripts/stop-all.sh
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: align local runtime environment ports
  .env.example
Due: none

chore: align backend runtime port default
  src/app.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: make db verify use postgres migration gate
  package.json
Due: prettier --write

fix: serialize invoice creation for stable numbering
  src/routes/invoices.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize VAT and DATEV accounting exports
  src/services/datevExportService.js
  src/utils/vat/vatAggregator.js
  tests/datev/datev.audit.test.js
  tests/datev/datev.export.expenses.test.js
  tests/datev/datev.export.invoices.test.js
  tests/vatUstva.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: add final release handover
  docs/release/FINAL_RELEASE_HANDOVER.md
Due: prettier --write

docs: add frontend design system contract
  docs/frontend/FRONTEND_DESIGN_SYSTEM_CONTRACT.md
Due: prettier --write

feat: polish dashboard command center hero
  client/src/pages/Dashboard.jsx
  client/src/pages/__tests__/Dashboard.test.jsx
Due: eslint --fix, prettier --write

feat: upgrade dashboard premium command center UX
  client/src/components/Layout.jsx
  client/src/pages/Dashboard.jsx
Due: eslint --fix, prettier --write

feat: polish dashboard KPI and trends visuals
  client/src/pages/Dashboard.jsx
Due: eslint --fix, prettier --write

chore: checkpoint before UI-3B financial control upgrade
  client/src/components/ai/AIDecisionLayer.jsx
  client/src/components/ai/AIFinancialControlPanel.jsx
  client/src/components/ai/core/AIIntelligenceZone.jsx
  client/src/pages/Dashboard.jsx
Due: eslint --fix, prettier --write

feat: UI-3B final AI financial intelligence engine layer
  client/src/components/ai/engine/AIFinancialEngine.jsx
Due: eslint --fix, prettier --write

feat: UI-4C real-time backend-to-frontend AI streaming integration
  client/src/components/ai/core/AIIntelligenceZone.jsx
  client/src/components/ai/live/AILiveFeed.jsx
  client/src/components/ai/live/AILiveStreamBridge.jsx
  client/src/components/ai/stream/AIStreamEngine.jsx
  client/src/hooks/useAIStream.js
  client/src/pages/AIManager.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/DocumentInbox.jsx
  client/src/pages/ProfileSettings.jsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: lock runtime environment and voice guards
  docker-compose.yml
  docs/ARCHITECTURE_LOCK/ENVIRONMENT_SOURCE_OF_TRUTH.md
  docs/ARCHITECTURE_LOCK/RUNTIME_SOURCE_OF_TRUTH.md
  docs/ARCHITECTURE_LOCK/VOICE_ENFORCEMENT.md
  docs/ARCHITECTURE_LOCK/VOICE_RULES.md
  docs/ARCHITECTURE_LOCK/VOICE_SOURCE_OF_TRUTH.md
  package-lock.json
  package.json
  scripts/env-guard.js
  scripts/runtime-guard.js
  scripts/start-all.sh
  scripts/voice-guard.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor: route voice through AI orchestrator
  archive/voice-legacy/engine/intent.engine.js
  archive/voice-legacy/engine/safe.pipeline.js
  server/index.js
  server/src/modules/voice/engine/README.md
  server/src/modules/voice/voice.controller.js
  src/app.js
  src/server.js
  src/services/ai/orchestrator/AIOrchestrator.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize frontend routing auth and company state
  client/src/AppRoutes.jsx
  client/src/components/TopBar.jsx
  client/src/context/AuthContext.jsx
  client/src/context/__tests__/AuthContext.test.jsx
  client/src/lib/constants.js
  client/src/pages/Companies.jsx
  client/src/services/aiAssistantAPI.js
  src/routes/companies.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: add frontend readiness audit report
  docs/AUDIT/FRONTEND_PUBLIC_READINESS_DEEP_SCAN_20260702_223550.txt
Due: none

fix: resolve lint blockers for PR guard
  client/src/modules/voice/VoiceButton.jsx
  client/src/pages/DocumentInbox.jsx
  src/routes/reports.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: resolve test docker voice orchestrator path
  server/src/modules/voice/voice.controller.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: add postgres test diagnostics
  package.json
Due: prettier --write

ci: stabilize postgres test workflow
  package.json
  scripts/ci-postgres-test.sh
Due: prettier --write

fix: sync client package lock for CI
  client/package-lock.json
Due: prettier --write

docs: add phase 0 baseline lock audit
  docs/AUDIT/PHASE_0_BASELINE_LOCK_20260703_005129.txt
Due: none

fix: harden runtime frontend cleanup
  docs/AUDIT/PHASE_1_RUNTIME_DOCKER_CI_TRUTH_20260703_005626.txt
  scripts/start-all.sh
  scripts/stop-all.sh
Due: none

fix: align backend docker entrypoint
  Dockerfile.backend
Due: none

docs: lock phase 2 backend api database audit
  docs/AUDIT/PHASE_2_BACKEND_API_DATABASE_LOCK_20260703_015854.txt
Due: none

fix: wire role provider to authenticated user
  client/src/App.jsx
Due: eslint --fix, prettier --write

docs: lock phase 3 frontend auth routing audit
  docs/AUDIT/PHASE_3_FRONTEND_ROUTING_AUTH_COMPANY_LOCK_20260703_080219.txt
Due: none

feat: add demo accounting ledger readiness
  package.json
  scripts/seed-demo-accounting.js
  src/services/financialReportService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize DATEV export preparation
  src/utils/datev/datevFormatter.js
  tests/routes/datevExport.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: clarify DATEV and ELSTER preparation limits
  docs/DATEV_ELSTER_OFFICIAL_LIMITATIONS.md
  docs/FINAL_RELEASE_RUNBOOK.md
  docs/executive_summary.md
  docs/release/FINAL_RELEASE_HANDOVER.md
  docs/tech-stack.md
Due: prettier --write

fix: disable direct ELSTER submission routes
  src/routes/germanTax.js
  src/routes/germanTaxCompliance.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add Tax Bridge readiness API
  src/app.js
  src/routes/taxBridge.js
  src/services/taxBridgeReadinessService.js
  tests/routes/taxBridgeReadiness.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add Tax Bridge frontend page
  client/src/App.jsx
  client/src/AppRoutes.jsx
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  client/src/locales/en/translation.json
  client/src/navigation/sidebarNavigation.js
  client/src/pages/TaxBridge.jsx
  client/src/services/taxBridgeAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.js
