Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(sidebar): enforce RBAC visibility with clean tests and role context hardening
  client/src/components/Sidebar.jsx
  client/src/context/RoleContext.jsx
  client/src/tests/sidebar.test.jsx
  docs/GIT_POLICY.md
Due: eslint --fix, prettier --write

security(gdpr): enforce tenant-safe export & stabilize test email lifecycle
  COMPLIANCE_CHECKLIST_BANK_STATEMENTS.md
  scripts/smoke-bank-statements.test.js
  scripts/smoke-demo-seed.test.js
  scripts/test-user-sqlite.sh
  src/services/emailService.js
  src/services/systemContext.js
  tests/ai/aiAuditLogger.denied.test.js
  tests/services/gobdComplianceService.test.js
  tests/services/systemContext.test.js
  tests/utils/buildPayload.js
  tests/utils/buildSystemContext.js
  tests/utils/supertestApp.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(env): remove prod env files, enforce runtime config & hardening
  .env.prod.example
  .gitignore
  package-lock.json
  package.json
  src/app.js
  src/middleware/security.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(local-docker): fix profile settings, translations, and prod compose env alignment
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  client/src/pages/ProfileSettings.jsx
  docker-compose.prod.yml
Due: eslint --fix, prettier --write

chore: close all schema/seed gaps and stabilize demo runtime
  Dockerfile.backend
  client/src/components/invoices/InvoiceForm.jsx
  client/src/pages/ProfileSettings.jsx
  database/seeders/demo/20251226-demo-seed.js
  scripts/seed-demo-prod.js
  src/app.js
  src/middleware/security.js
  src/services/emailService.js
  src/services/invoiceService.js
  src/utils/validateEnv.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(release): finalize v1.0.0 stability, audit, demo seed and docs
  CHANGELOG.md
  client/README.md
  client/src/components/invoices/InvoiceForm.jsx
  src/app.js
  src/routes/expenses.js
  src/services/ai/aiAuditLogger.js
  src/services/invoiceService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: stabilize GDPR, AI governance, audit integrity and runtime guards
  client/package-lock.json
  client/src/App.jsx
  client/src/components/Sidebar.jsx
  src/models/InvoicePayment.js
  src/routes/gdpr.js
  src/services/ai/aiSuggestionService.js
  tests/explainability.test.js
  tests/integration/aiSuggestionGate.test.js
  tests/integration/aiSuggestionService.test.js
  tests/integration/demoSeed.test.js
  tests/integration/runtimeGuards.test.js
  tests/routes/bankStatements.test.js
  tests/routes/invoices.test.js
  tests/routes/production.smoke.test.js
  tests/services/aiInsightsService.test.js
  tests/services/aiSuggestion.gate.test.js
  tests/services/auditLogService.test.js
  tests/services/gobdComplianceService.test.js
  tests/setup.js
  tests/utils/testHelpers.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(ai): add audited, consent-gated voice assistant with RBAC, governance, and tests
  .env.example
  client/.env.example
  client/src/lib/featureFlags.js
  client/src/pages/AIAssistant.jsx
  client/src/services/aiAssistantAPI.js
  database/migrations/20260117000000-add-tts-enabled-to-companies.js
  src/middleware/aiRateLimit.js
  src/models/Company.js
  src/routes/ai.js
  src/routes/ai/index.js
  src/routes/ai/voice.js
  src/security/permissionGuard.js
  src/security/permissions.js
  src/services/ai/aiAuditLogger.js
  tests/routes/accountingPeriodBoundaries.test.js
  tests/routes/aiVoiceAssistant.test.js
  tests/services/auditLogService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(voice): voice assistant endpoint + audit responseMode + ttsEnabled + UI consent + tests
  tests/enterprise-period-boundary.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(frontend): lint-clean updates to AI, banking, taxes, and expenses pages
  client/src/components/ChatMessageGroup.jsx
  client/src/pages/AIAssistant.jsx
  client/src/pages/AIInsights.jsx
  client/src/pages/BankStatements.jsx
  client/src/pages/Companies.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/GermanTaxReports.jsx
Due: eslint --fix, prettier --write

Enforce strict company context, finalize system admin separation, and stabilize frontend tests
  client/src/pages/__tests__/Companies.test.jsx
Due: eslint --fix, prettier --write

Enforce strict company context, finalize system admin separation, and stabilize frontend tests
  scripts/demo-verify.js
  src/middleware/requireCompany.js
  src/services/datevExportService.js
  src/services/expenseService.js
  src/services/gdprService.js
  src/utils/expenseAttachmentSupport.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize company context, demo verification, invoices flow, and CORS enforcement
  client/src/components/invoices/InvoiceForm.jsx
  client/src/context/AuthContext.jsx
  client/src/context/CompanyContext.jsx
  client/src/hooks/__tests__/useLoadCompanies.test.jsx
  client/src/hooks/useLoadCompanies.js
  client/src/lib/companyStorage.js
  client/src/pages/InvoiceEdit.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
  client/src/services/__tests__/aiAssistantAPI.test.jsx
  client/src/services/api.js
  client/src/test/setup.js
  client/src/tests/InvoiceForm.test.jsx
  client/src/tests/routes.smoke.test.jsx
  database/seeders/demo/20251226-demo-seed.js
  docs/DEMO_SEEDING.md
  docs/OPERATIONS_RUNBOOK.md
  docs/PHASE_7_TEST_READINESS.md
  docs/compliance/DEMO_SEED_VERIFICATION.md
  feature-audit-report.txt
  package.json
  scripts/demo-contract.json
  scripts/demo-integration-verify.js
  scripts/demo-verify.js
  scripts/verify-core-api.sh
  scripts/verify-production.sh
  src/middleware/cors.js
  tests/middleware/corsHeaders.test.js
  tests/routes/demoPlanGuard.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: remove client node_modules and dist from repo; update .gitignore
  .gitignore
Due: none

chore: harmonize license to MIT
  .env.example
  client/.env.example
  client/src/lib/resetClientState.js
  client/src/pages/SystemAdminDashboard.jsx
  client/src/services/api.js
  client/src/services/authAPI.js
  src/middleware/errorHandler.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ai): clean aiRouteGuard - remove duplicates, use ApiError, unify guard behavior
  src/middleware/aiRouteGuard.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(core): harden error handling, AI guards, and route contracts
  src/middleware/aiRouteGuard.js
  src/middleware/apiTimeout.js
  src/middleware/errorHandler.js
  src/routes/aiReadOnly.js
  src/routes/germanTax.js
  src/routes/logs.js
  src/routes/system.js
  src/routes/taxReports.js
  src/routes/telemetry.js
  src/routes/users.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: ignore local dry-run artifacts
  .gitignore
Due: none

chore: remove dev-dryrun artifacts
  dev-dryrun/classified_responses.json
  dev-dryrun/gitleaks.txt
  dev-dryrun/lint-output.txt
  dev-dryrun/npm-audit.txt
  dev-dryrun/remaining_res_status.txt
  dev-dryrun/tests-ai.txt
  dev-dryrun/tests-aiStream-final.txt
  dev-dryrun/tests-aiStream-initial.txt
  dev-dryrun/tests-aiStream-withStack.txt
  dev-dryrun/tests-aiSuggest-final.txt
  dev-dryrun/tests-auth.txt
  dev-dryrun/tests-compliance.txt
  dev-dryrun/tests-errorHandler.txt
  dev-dryrun/tests-output-ai.txt
  dev-dryrun/tests-output-aiAssistant.txt
  dev-dryrun/tests-output-authFlow.txt
  dev-dryrun/tests-output-compliance.txt
  dev-dryrun/tests-output-errorHandler.telemetry.txt
Due: prettier --write

fix(auth): finalize login flow with safe interceptors and tests
  LOGIN_FIX_REPORT.md
  LOGIN_FIX_SUMMARY.md
  client/.env.example
  client/src/context/__tests__/AuthContext.test.jsx
  client/src/services/__tests__/api.interceptor.test.js
  client/src/services/api.js
  client/src/services/authAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(auth,company,ai): enforce tenant safety, plan guards, and auth invariants
  jest.config.js
  src/middleware/requireCompany.js
  src/routes/ai.js
  src/routes/ai/voice.js
  src/routes/compliance.js
  tests/middleware/requireCompany.test.js
  tests/routes/aiDecisions.test.js
  tests/routes/aiExports.test.js
  tests/routes/bankStatements.test.js
  tests/routes/compliance.test.js
  tests/routes/exports.planGuard.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize auth/company guards and align test contracts; pass full suite
  ROUTES_LOCAL.txt
  jest.config.js
  route-audit.json
  src/middleware/requireCompany.js
  src/routes/ai.js
  src/routes/ai/voice.js
  src/routes/compliance.js
  tests/middleware/requireCompany.test.js
  tests/routes/aiDecisions.test.js
  tests/routes/aiExports.test.js
  tests/routes/bankStatements.test.js
  tests/routes/compliance.test.js
  tests/routes/exports.planGuard.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(ai): default policyVersion and graceful AI insights handling
  src/middleware/aiRouteGuard.js
  src/services/ai/aiInsightsService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(audit): add system, API, and production verification reports
  core-api-audit.txt
  route-audit.json
  system-audit-report.txt
  verify-production-report.txt
Due: prettier --write

feat: enterprise demo mode complete + AI simulation + full test pass
  AI_DEMO_GOVERNANCE_GUIDE.md
  AI_DEMO_QUICK_REFERENCE.md
  BACKEND_API_AUDIT_REPORT.md
  DEMO_MODE_DOCUMENTATION_INDEX.md
  DEMO_MODE_FINAL_VERIFICATION.md
  DEMO_MODE_IMPLEMENTATION_SUMMARY.md
  DEMO_MODE_MINIMAL_PAYLOAD_GUIDE.md
  DEMO_MODE_QUICK_REFERENCE.md
  DEMO_SIMULATION_DOCUMENTATION_INDEX.md
  DEMO_SIMULATION_LAYER_GUIDE.md
  DEMO_SIMULATION_SAFETY_VERIFICATION.md
  ENTERPRISE_DEMO_MODE_COMPLETE.md
  client/package-lock.json
  client/package.json
  client/src/context/__tests__/AuthContext.test.jsx
  src/routes/aiReadOnly.js
  src/routes/expenses.js
  src/routes/exports.js
  src/routes/invoices.js
  src/routes/system.js
  src/services/demoSimulationService.js
  src/utils/demoPayloadNormalizer.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(prod): align AIInsights schema (purpose column) + production compose
  database/migrations/20260113120000-add-purpose-column-aiinsights.js
  docker-compose.prod.yml
  src/models/AIInsight.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: enterprise demo normalization, auto invoice numbers, VAT validation and schema alignment
  client/src/pages/ExpensesCreate.jsx
  client/src/services/invoicesAPI.js
  database/migrations/20260113120000-add-purpose-column-aiinsights.js
  src/lib/validation/schemas.js
  src/models/AIInsight.js
  src/services/invoiceService.js
  src/utils/demoPayloadNormalizer.js
  tests/routes/invoices.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: add compliance export reference pack
  ADMINISTRATIVE_SEPARATION_POLICY.md
  docs/ADVISOR_TECHNICAL_LEGAL_PACK.md
  docs/DATEV_ACCOUNT_LOGIC.md
  docs/DATEV_MAPPING_SKR03.md
  docs/DATEV_MAPPING_SKR04.md
  docs/DATEV_VAT_MAPPING.md
  docs/EXPORT_GUARANTEES.md
  docs/VAT_LOGIC_WHITEPAPER.md
Due: prettier --write

feat: add DATEV and VAT export core
  package-lock.json
  package.json
  src/services/datevExportService.js
  src/services/vatReturnService.js
  src/utils/datev/datevAccounts.js
  src/utils/datev/datevFormatter.js
  src/utils/datev/datevValidators.js
  src/utils/vat/periodLock.js
  src/utils/vat/vatAggregator.js
  src/utils/vat/vatCrossCheck.js
  src/utils/vat/vatDemo.js
  src/utils/vat/vatExport.js
  src/utils/vat/vatExportCsv.js
  src/utils/vat/vatExportJson.js
  tests/datev/datev.audit.test.js
  tests/datev/datev.export.expenses.test.js
  tests/datev/datev.export.invoices.test.js
  tests/datev/datev.formatter.test.js
  tests/datevExport.test.js
  tests/vatUstva.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add GoBD export core
  package-lock.json
  package.json
  src/services/gobdExportService.js
  src/utils/gobd/ideaFormatter.js
  src/utils/gobd/metaFiles.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: integrate export routes
  src/routes/datevExport.js
  src/routes/elsterExport.js
  src/routes/exports.js
  src/routes/gobdExport.js
  src/routes/vat.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add invoice import route
  package-lock.json
  package.json
  src/routes/invoiceImport.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add bank import core
  src/routes/bankImport.js
  src/services/bankImportService.js
  src/utils/bank/BankTransaction.js
  src/utils/bank/camt053Parser.js
  src/utils/bank/mt940Parser.js
  src/utils/bank/ocrStatementParser.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.js
