Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add Tax Bridge package builder
  client/src/pages/TaxBridge.jsx
Due: eslint --fix, prettier --write

test: lock Tax Bridge package builder safety
  client/src/pages/TaxBridge.jsx
  client/src/pages/__tests__/TaxBridge.test.jsx
Due: eslint --fix, prettier --write

chore: remove unused ELSTER export route stub
  src/routes/elsterExport.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: mark VAT UStVA endpoint as preparation only
  src/routes/vat.js
  tests/vatUstva.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: align tax and ELSTER route wording
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  client/src/locales/en/translation.json
  docs/backend-route-map.md
Due: prettier --write

docs: add phase 6 safety guard and completion plan
  docs/GUARDS/ENGINEERING_SAFETY_GUARD.md
  docs/ROADMAP/PHASE_6_COMPLETION_PLAN.md
  package.json
Due: prettier --write

docs: clean up phase guard formatting
  docs/GUARDS/ENGINEERING_SAFETY_GUARD.md
Due: prettier --write

docs: finalize phase guard markdown
  docs/GUARDS/ENGINEERING_SAFETY_GUARD.md
Due: prettier --write

docs: add phase 6A route feature inventory
  docs/AUDIT/PHASE_6A_ROUTE_FEATURE_INVENTORY.md
Due: prettier --write

fix: harden company context and journal entry id validation
  src/routes/companies.js
  src/routes/journalEntries.js
  tests/routes/journalEntries.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: clarify dashboard accounting KPI labels
  client/src/pages/__tests__/Dashboard.test.jsx
  client/src/services/dashboardAPI.js
  tests/routes/dashboard.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: validate bank statement detail ids
  src/routes/bankStatements.js
  tests/routes/bankStatements.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: block all-duplicate bank imports
  src/services/bankStatementService.js
  tests/routes/bankStatements.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: align voice service with AI voice route
  client/src/modules/voice/voiceService.js
  client/src/modules/voice/voiceService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI tool registry safety contract
  src/services/ai/aiToolRegistry.js
  tests/ai/aiToolRegistry.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI action proposal contract
  src/services/ai/aiActionProposalContract.js
  tests/ai/aiActionProposalContract.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI approval queue contract
  src/services/ai/aiApprovalQueueContract.js
  tests/ai/aiApprovalQueueContract.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI proposal service
  src/services/ai/aiProposalService.js
  tests/ai/aiProposalService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add OCR intake AI proposal metadata
  src/routes/ocr.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: show OCR AI proposal metadata in assistant
  client/src/pages/AIAssistant.jsx
  client/src/pages/__tests__/AIAssistant.test.jsx
Due: eslint --fix, prettier --write

feat: add read-only AI approval inbox foundation
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
Due: eslint --fix, prettier --write

feat: add read-only AI approval queue stub
  src/app.js
  src/routes/aiApprovalQueue.js
  src/security/permissions.js
  tests/routes/aiApprovalQueue.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: wire AI approval inbox to read-only API
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
  client/src/services/aiApprovalQueueAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add smart review center summary API
  src/app.js
  src/routes/reviewCenter.js
  src/security/permissions.js
  src/services/reviewCenterService.js
  tests/routes/reviewCenter.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: make review center postgres runtime safe
  src/services/reviewCenterService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add smart review center frontend page
  client/src/AppRoutes.jsx
  client/src/pages/SmartReviewCenter.jsx
  client/src/pages/__tests__/SmartReviewCenter.test.jsx
  client/src/services/reviewCenterAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add smart review sidebar link
  client/src/locales/en/translation.json
  client/src/navigation/sidebarNavigation.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: polish smart review center UI labels
  client/src/pages/SmartReviewCenter.jsx
  client/src/pages/__tests__/SmartReviewCenter.test.jsx
Due: eslint --fix, prettier --write

feat: add persisted read-only AI approval queue
  database/migrations/20260120000000-create-ai-approval-queue-items.js
  src/models/AIApprovalQueueItem.js
  src/routes/aiApprovalQueue.js
  src/services/ai/aiApprovalQueueRepository.js
  tests/routes/aiApprovalQueue.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add idempotent AI approval queue persistence
  src/services/ai/aiApprovalQueueRepository.js
  tests/ai/aiApprovalQueueRepository.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: persist OCR approval queue items
  src/routes/ocr.js
  tests/routes/ocrDocumentIntake.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: persist OCR approval queue for PDF text intake
  src/routes/ocr.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: show AI approval queue in smart review center
  client/src/pages/SmartReviewCenter.jsx
  client/src/pages/__tests__/SmartReviewCenter.test.jsx
Due: eslint --fix, prettier --write

feat: enable safe AI approval decisions
  src/routes/aiApprovalQueue.js
  src/security/permissions.js
  src/services/ai/aiApprovalQueueRepository.js
  tests/routes/aiApprovalQueue.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add enterprise replay timeline and explanation APIs
  src/app.js
  src/routes/enterprise/eventReplay.routes.js
  src/routes/enterprise/replayExplanation.routes.js
  src/routes/enterprise/unifiedTimeline.routes.js
  src/services/enterprise/event-replay/eventReplayEngine.js
  src/services/enterprise/event-replay/explanation/replayExplanationEngine.js
  src/services/enterprise/unified-read-model/eventNormalizer.js
  src/services/enterprise/unified-read-model/timelineAggregator.js
  src/services/enterprise/unified-read-model/unifiedTimelineService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: harden reviewed document draft creation
  client/src/pages/SmartReviewCenter.jsx
  src/routes/aiApprovalQueue.js
  src/routes/ocr.js
  src/services/ai/reviewedDocumentDraftService.js
  src/services/reviewCenterService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add finance event consumer
  src/services/ai/eventBus.js
  src/services/finance/event-consumer/eventConsumer.service.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add enterprise event core and idempotency services
  src/services/enterprise/event-core/bootstrapEventCore.js
  src/services/enterprise/event-core/eventContract.js
  src/services/enterprise/event-core/eventPersistence.js
  src/services/enterprise/event-core/eventRegistry.js
  src/services/enterprise/event-core/unifiedEventBus.js
  src/services/enterprise/event-gateway/eventGateway.js
  src/services/enterprise/event-gateway/index.js
  src/services/enterprise/event-store/eventStore.js
  src/services/enterprise/event-store/eventStore.model.js
  src/services/enterprise/event-store/eventStore.service.js
  src/services/enterprise/idempotency/idempotency.model.js
  src/services/enterprise/idempotency/idempotency.service.js
  src/services/enterprise/idempotency/idempotencyEngine.js
  src/services/enterprise/idempotency/idempotencyStore.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add enterprise dead letter queue
  src/services/enterprise/dlq/deadLetterQueue.js
  src/services/enterprise/dlq/retryOrchestrator.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.js
