Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add matching engine core
  src/routes/matchingEngine.js
  src/services/matchingEngineService.js
  tests/matchingEngine.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add reconciliation core
  src/routes/reconciliation.js
  src/services/reconciliationService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add ELSTER export service
  src/services/elsterExportService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add export frontend pages
  client/src/pages/DatevExport.jsx
  client/src/pages/Exports.jsx
  client/src/pages/InvoiceImport.jsx
  client/src/services/exportsAPI.js
  client/src/services/invoicesAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add system admin backend access
  src/middleware/requireSystemAdmin.js
  src/routes/system.js
  src/routes/systemAdmin.js
  tests/routes/systemAdmin.access.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: register export frontend routes
  client/src/App.jsx
Due: eslint --fix, prettier --write

feat: add system admin API helpers
  client/src/services/systemAdminAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: rely on server-generated invoice numbers
  client/src/components/invoices/InvoiceForm.jsx
  client/src/pages/Invoices.jsx
  client/src/tests/InvoiceForm.test.jsx
  src/services/invoiceService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: register backend admin import and vat routes
  src/app.js
  src/lib/validation/schemas.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: allow company and AI policy CORS headers
  src/middleware/cors.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: extend API timeout in development
  client/src/services/api.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: clean local generated ignore rules
  .dockerignore
  .gitignore
Due: none

fix: align demo invoice number normalization
  src/utils/demoPayloadNormalizer.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: allow system admin route access
  client/src/App.jsx
Due: eslint --fix, prettier --write

chore: unify docker environments and introduce enterprise start/stop control center with full system orchestration
  Dockerfile
  Dockerfile.backend
  client/package.json
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
  package-lock.json
  package.json
  scripts/start-all.sh
  scripts/stop-all.sh
Due: prettier --write

chore: fix dev redis port conflict and refresh browser data
  client/package-lock.json
  docker-compose.yml
Due: prettier --write

fix: remove legacy system route shadowing canonical system admin API
  src/app.js
  src/middleware/requireSystemAdmin.js
  src/routes/systemAdmin.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: complete demo seed for bank tax and AI data
  database/seeders/demo/20251226-demo-seed.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: improve app shell footer spacing and plan display
  client/src/components/Layout.jsx
  client/src/components/Sidebar.jsx
  client/src/components/TopBar.jsx
  client/src/pages/GermanTaxReports.jsx
Due: eslint --fix, prettier --write

fix: improve accounting table masking and compliance UX
  client/src/pages/AuditLogs.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/Invoices.jsx
Due: eslint --fix, prettier --write

fix: stabilize AI assistant browser gating and read-only headers
  client/src/pages/AIAssistant.jsx
  client/src/pages/BankStatements.jsx
  src/middleware/cors.js
  src/routes/aiReadOnly.js
  src/services/ai/aiAuditLogger.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: ignore canceled API requests in dev logging
  client/src/services/api.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: align smoke checks and fix bank transaction field mapping
  client/src/tests/sidebar.test.jsx
  scripts/demo-integration-verify.js
  scripts/demo-verify.js
  scripts/smoke-demo-seed.js
  src/models/BankTransaction.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: add auth session endpoints for profile settings
  client/src/pages/ProfileSettings.jsx
  src/routes/auth.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize role management page UX
  client/src/pages/RBACManagement.jsx
Due: eslint --fix, prettier --write

ux: merge role management into users page
  client/src/App.jsx
  client/src/navigation/sidebarNavigation.js
  client/src/pages/RBACManagement.jsx
  client/src/pages/Users.jsx
  client/src/tests/routes.smoke.test.jsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize company context during companies refresh
  client/src/context/CompanyContext.jsx
  client/src/pages/Companies.jsx
Due: eslint --fix, prettier --write

fix: complete profile settings connections and UX
  client/src/context/AuthContext.jsx
  client/src/pages/ProfileSettings.jsx
  client/src/services/api.js
  src/routes/auth.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: correct profile edit mode feedback
  client/src/pages/ProfileSettings.jsx
Due: eslint --fix, prettier --write

ux: improve dashboard command center and loading behavior
  client/src/pages/Dashboard.jsx
Due: eslint --fix, prettier --write

fix: complete invoice module status contract and role access
  client/src/components/invoices/InvoiceForm.jsx
  client/src/components/invoices/InvoiceStatusBadge.jsx
  client/src/pages/InvoiceCreate.jsx
  client/src/pages/InvoiceEdit.jsx
  client/src/pages/Invoices.jsx
  client/src/services/__tests__/invoicesAPI.test.js
  client/src/services/invoicesAPI.js
  database/seeders/demo/20251226-demo-seed.js
  src/security/permissions.js
  src/services/invoiceService.js
  tests/routes/invoices.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ux: complete invoice actions import and preview flow
  client/src/components/invoices/InvoiceForm.jsx
  client/src/pages/InvoiceEdit.jsx
  client/src/pages/InvoiceImport.jsx
  client/src/pages/Invoices.jsx
  client/src/services/__tests__/invoicesAPI.test.js
  client/src/services/invoicesAPI.js
  src/routes/invoiceImport.js
  src/security/permissions.js
  src/services/invoiceService.js
  tests/routes/invoices.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: complete expenses status contract and role access
  client/src/pages/Expenses.jsx
  client/src/pages/ExpensesCreate.jsx
  client/src/services/__tests__/expensesAPI.test.jsx
  client/src/services/expensesAPI.js
  src/routes/expenses.js
  src/security/permissions.js
  src/services/expenseService.js
  src/validators/expenseValidator.js
  tests/routes/expenses.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize bank statement confirmation and detail access
  src/routes/bankStatements.js
  src/security/permissions.js
  src/services/bankStatementService.js
  tests/routes/bankStatementsList.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize DATEV export audit context
  src/routes/exports.js
  src/services/datevExportService.js
  tests/routes/datevExport.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize AI accounting assistant readiness
  src/routes/aiReadOnly.js
  src/services/ai/aiInsightsService.js
  src/services/ai/auditLogger.js
  tests/routes/aiExports.test.js
  tests/services/aiInsightsService.test.js
  tests/utils/createTestCompany.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI provider foundation
  .env.example
  src/services/ai/providerBudgetGuard.js
  src/services/ai/providerTimeout.js
  src/services/ai/providers/index.js
  src/services/ai/providers/mockProvider.js
  src/services/ai/providers/openaiProvider.js
  src/services/ai/providers/providerConfig.js
  src/utils/validateEnv.js
  tests/ai/providerAdapter.test.js
  tests/ai/providerConfig.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: wire optional AI provider for assistant responses
  src/routes/ai/voice.js
  src/routes/aiReadOnly.js
  src/services/ai/aiAssistantService.js
  tests/ai/providerWiring.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: improve AI assistant accounting response formatting
  src/services/ai/aiAssistantService.js
  tests/ai/assistantCompliance.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add AI manager shell and floating companion
  client/src/App.jsx
  client/src/components/GlobalAICompanion.jsx
  client/src/components/Layout.jsx
  client/src/components/__tests__/GlobalAICompanion.test.jsx
  client/src/pages/AIManager.jsx
  client/src/pages/__tests__/AIManager.test.jsx
  client/src/tests/routes.smoke.test.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.js
