Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css,scss}": [
    "prettier --write"
  ],
  "*.js": [
    "jest --bail --findRelatedTests --passWithNoTests"
  ]
}

feat: add enterprise queue and event stream foundation
  package-lock.json
  package.json
  src/services/enterprise/event-stream/eventStreamProducer.js
  src/services/enterprise/event-stream/eventStreamWorker.js
  src/services/enterprise/queue/queueSystem.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add approval execution worker foundation
  src/services/ai/aiApprovalQueueRepository.js
  src/services/audit/AuditLogService.js
  src/services/enterprise/queue/queueWorker.js
  src/services/finance/event-graph-bridge.js
  src/services/finance/executionEngine.service.js
  src/services/finance/ledger.service.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add audit timeline graph foundation
  src/services/audit/graph/TimelineGraphEngine.js
  src/services/audit/timeline/AuditTimelineService.js
  src/services/audit/timeline/persistence/TimelinePersistence.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add enterprise observability service foundation
  src/services/enterprise/observability/api/observability.controller.js
  src/services/enterprise/observability/observabilityLogger.js
  src/services/enterprise/observability/traceContext.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: mount enterprise observability graph and reasoning routes
  src/app.js
  src/routes/ai/reasoning.js
  src/routes/enterprise/observability.routes.js
  src/routes/graph/index.js
  src/routes/timeline.js
  src/services/ai/reasoning/aiReasoningEngine.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add observability dashboard page
  client/src/AppRoutes.jsx
  client/src/pages/observability/DLQPanel.jsx
  client/src/pages/observability/EventStreamPanel.jsx
  client/src/pages/observability/ObservabilityDashboard.jsx
Due: eslint --fix, prettier --write

fix: clean enterprise replay lint
  src/services/enterprise/event-replay/eventReplayEngine.js
  src/services/enterprise/event-replay/explanation/replayExplanationEngine.js
  src/services/enterprise/unified-read-model/eventNormalizer.js
  src/services/enterprise/unified-read-model/timelineAggregator.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: lock P1 source of truth architecture map
  docs/ARCHITECTURE_LOCK/P1_SOURCE_OF_TRUTH_AND_ARCHITECTURE_MAP.md
Due: prettier --write

docs: lock P2 security route guard audit
  docs/ARCHITECTURE_LOCK/P2_SECURITY_AUTH_COMPANY_ROLE_AUDIT.md
Due: prettier --write

fix: stabilize journal reversal row locking
  src/services/accountingPostingService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: lock P3 accounting core certification
  docs/ARCHITECTURE_LOCK/P3_ACCOUNTING_CORE_CERTIFICATION.md
Due: prettier --write

fix: stabilize expense attachment evidence linking
  database/migrations/20260121000000-fix-file-attachments-expense-id-integer.js
  src/models/FileAttachment.js
  src/services/expenseService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: lock P4 invoice expense VAT certification
  docs/ARCHITECTURE_LOCK/P4_INVOICE_EXPENSE_VAT_DATEV_CERTIFICATION.md
Due: prettier --write

fix: allow OCR read routes through permission guard
  src/security/permissions.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: lock P5 OCR AI intake certification
  docs/AUDIT/05_P5_OCR_AI_DOCUMENT_INTAKE_CERTIFICATION.md
Due: prettier --write

fix: allow tax bridge readiness read permissions
  src/security/permissions.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: lock P6 reporting export compliance certification
  docs/AUDIT/06_P6_REPORTING_EXPORT_COMPLIANCE_CERTIFICATION.md
Due: prettier --write

docs: lock P7 smart review center certification
  docs/AUDIT/07_P7_SMART_REVIEW_CENTER_CERTIFICATION.md
Due: prettier --write

docs: lock P8-A AI approval decisions certification
  docs/AUDIT/08_P8A_AI_APPROVAL_DECISIONS_CERTIFICATION.md
Due: prettier --write

feat: add safe AI draft execution contract foundation
  src/routes/ocr.js
  src/services/ai/aiApprovalQueueContract.js
  src/services/ai/aiApprovalQueueRepository.js
  tests/ai/aiApprovalExecutionFoundation.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add atomic AI approval execution claims
  src/services/ai/aiApprovalQueueContract.js
  src/services/ai/aiApprovalQueueRepository.js
  tests/ai/aiApprovalExecutionClaim.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: add safe reviewed-document draft executor
  src/services/ai/safeDraftExecutionService.js
  tests/ai/safeDraftExecutionService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: persist immutable AI post-draft recovery evidence
  src/services/ai/aiApprovalQueueRepository.js
  src/services/ai/safeDraftExecutionService.js
  tests/ai/aiApprovalPostDraftRecovery.test.js
  tests/ai/safeDraftExecutionService.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: establish final product truth and audit framework
  .gitignore
  docs/final-truth/SMARTACCOUNTING_FINAL_PRODUCT_ARCHITECTURE_BLUEPRINT.md
  docs/final-truth/SMARTACCOUNTING_FINAL_PRODUCT_VISION.md
  scripts/audit/smartaccounting_full_truth_scan.sh
Due: prettier --write

feat: certify controlled safe draft execution
  docs/AUDIT/09_F9_CONTROLLED_SAFE_DRAFT_EXECUTION_CERTIFICATION.md
  src/routes/aiApprovalQueue.js
  src/security/permissions.js
  tests/routes/aiApprovalQueue.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: guard postgres test database and clean approval fixtures
  docker-compose.test.yml
  scripts/assert-test-database.js
  scripts/ci-postgres-test.sh
  src/config/database.js
  src/config/testDatabaseSafety.js
  tests/config/databaseConfigSafety.test.js
  tests/config/testDatabaseSafety.test.js
  tests/routes/aiApprovalQueue.test.js
  tests/utils/testHelpers.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: certify postgres test safety and repeatability
  docs/AUDIT/10_F10_POSTGRES_TEST_SAFETY_AND_REPEATABILITY_CERTIFICATION.md
Due: prettier --write

fix: resolve sequelize cli environments lazily
  config/sequelize.js
  tests/config/databaseConfigSafety.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: freeze enterprise timeline security design
  docs/AUDIT/11_F10_B4_ENTERPRISE_TIMELINE_SECURITY_AND_PROJECTION_DESIGN.md
Due: prettier --write

fix: secure enterprise timeline and stabilize postgres cleanup
  src/routes/enterprise/unifiedTimeline.routes.js
  src/security/permissions.js
  tests/routes/enterpriseUnifiedTimeline.test.js
  tests/utils/testHelpers.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: certify unified timeline security and visibility
  docs/AUDIT/12_F10_B4C_UNIFIED_TIMELINE_SECURITY_AND_OPERATOR_VISIBILITY_CERTIFICATION.md
Due: prettier --write

feat: enable enterprise event timeline persistence
  database/migrations/20260122000000-create-event-store.js
  src/models/EventStore.js
  src/server.js
  src/services/enterprise/event-store/eventStore.service.js
  src/services/finance/executionEngine.service.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: harden enterprise event contracts
  src/services/enterprise/event-core/eventRegistry.js
  src/services/enterprise/event-store/eventStore.service.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: secure enterprise ai reasoning and graph read surfaces
  src/app.js
  src/routes/ai/reasoning.js
  src/routes/graph/index.js
  src/security/permissions.js
  tests/routes/aiReasoningSecurity.test.js
  tests/routes/graphSecurity.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: secure enterprise observability read surfaces
  src/routes/enterprise/observability.routes.js
  src/security/permissions.js
  src/services/enterprise/observability/api/observability.controller.js
  tests/routes/observabilitySecurity.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: persist safe execution evidence
  src/services/ai/safeDraftExecutionService.js
  src/services/enterprise/event-core/bootstrapEventCore.js
  src/services/enterprise/event-core/eventPersistence.js
  src/services/enterprise/event-core/unifiedEventBus.js
  src/services/enterprise/event-gateway/eventGateway.js
  src/services/enterprise/idempotency/idempotencyEngine.js
  src/services/enterprise/unified-read-model/eventNormalizer.js
  tests/ai/safeDraftExecutionService.test.js
  tests/enterprise/eventGatewayPersistence.test.js
  tests/enterprise/executionEventStoreProof.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: align enterprise graph with unified timeline projection
  src/routes/graph/index.js
  src/services/ai/reasoning/aiReasoningEngine.js
  src/services/audit/graph/TimelineGraphEngine.js
  src/services/enterprise/observability/api/observability.controller.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: certify F11 execution event evidence pipeline
  docs/AUDIT/13_F11_EXECUTION_EVENT_EVIDENCE_PIPELINE_CERTIFICATION.md
Due: prettier --write

docs: normalize F11 certification file ending
  docs/AUDIT/13_F11_EXECUTION_EVENT_EVIDENCE_PIPELINE_CERTIFICATION.md
Due: prettier --write

docs: certify F11 accounting evidence authority boundary
  docs/AUDIT/14_F11_3_ACCOUNTING_EVIDENCE_BOUNDARY_CERTIFICATION.md
Due: prettier --write
