Repository mhtradingeu-oss/smartaccounting-final: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css,scss}": [
    "prettier --write"
  ],
  "*.js": [
    "jest --bail --findRelatedTests --passWithNoTests"
  ]
}

test(postgres): run migrations and tests inside docker network
  package.json
Due: prettier --write

test(postgres): align docker-compose.test with service-based db networking
  docker-compose.test.yml
Due: none

fix(core): production certification hardening (Postgres + SQLite)
  .dockerignore
  Dockerfile.backend
  docker-compose.test.yml
  package.json
  src/app.js
  src/services/expenseService.js
  src/services/invoiceService.js
  src/utils/companyFilter.js
  tests/integration/fullWorkflow.test.js
  tests/integration/runtimeGuards.test.js
  tests/routes/bankStatements.test.js
  tests/routes/compliance.test.js
  tests/routes/invoices.test.js
  tests/routes/ocrPreview.test.js
  tests/utils/testHelpers.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(git): ignore local sqlite dev database
  .gitignore
Due: none

test(client): fix UI assertions for production certification
  client/src/components/__tests__/Button.test.jsx
  client/src/components/__tests__/PermissionGuard.test.jsx
  client/src/tests/sidebar.test.jsx
Due: eslint --fix, prettier --write

chore(lint): remove unused normalizeCompanyId import
  src/services/invoiceService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(nav): gate german tax navigation
  client/src/components/TopBar.jsx
  client/src/components/__tests__/TopBar.test.jsx
Due: eslint --fix, prettier --write

fix(compliance): replace redirect loop with overview page
  client/src/pages/ComplianceDashboard.jsx
  client/src/tests/routes.smoke.test.jsx
Due: eslint --fix, prettier --write

fix(nav): protect analytics route
  client/src/App.jsx
  client/src/tests/analytics-route-guard.test.jsx
Due: eslint --fix, prettier --write

chore(test): stabilize test environment
  client/src/test/AISuggestionCard.test.jsx
  src/config/database.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(api): align audit and gdpr frontend endpoints
  client/src/pages/AuditLogs.jsx
  client/src/pages/GDPRActions.jsx
  client/src/services/api.js
  client/src/services/auditLogsAPI.js
  client/src/services/gdprAPI.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: update backend route map
  docs/backend-route-map.md
Due: prettier --write

fix(ui): unify navigation, i18n, and page states
  client/public/locales/ar/translation.json
  client/public/locales/de/translation.json
  client/public/locales/en/translation.json
  client/src/components/ErrorState.jsx
  client/src/components/Footer.jsx
  client/src/components/ReadOnlyBanner.jsx
  client/src/components/Sidebar.jsx
  client/src/components/TopBar.jsx
  client/src/components/ui/PageStates.jsx
  client/src/pages/BankStatements.jsx
  client/src/pages/Dashboard.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/Invoices.jsx
  client/src/tests/sidebar.test.jsx
  docs/audits/PHASE_2_UI_UX_AUDIT.md
Due: eslint --fix, prettier --write

fix(a11y): accessibility and visual polish
  client/public/locales/en/translation.json
  client/src/components/CompanySelector.jsx
  client/src/components/ConfirmDangerModal.jsx
  client/src/components/ErrorState.jsx
  client/src/components/LanguageSwitcher.jsx
  client/src/components/LoadingSpinner.jsx
  client/src/components/Sidebar.jsx
  client/src/components/TopBar.jsx
  client/src/components/ui/Button.jsx
  client/src/components/ui/ConfirmDangerModal.jsx
  client/src/components/ui/Drawer.jsx
  client/src/components/ui/EmptyState.jsx
  client/src/components/ui/Modal.jsx
  client/src/components/ui/PageStates.jsx
  client/src/i18n.js
  client/src/test/AISuggestionCard.test.js
  client/src/test/setup.js
  docs/accessibility-smoke-check.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

perf: code splitting, lazy loading, and bundle analysis
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/ui/AsyncModal.jsx
  client/src/components/ui/ConfirmDangerModal.jsx
  client/src/index.css
  client/src/pages/AIInsights.jsx
  client/src/pages/BankStatementDetail.jsx
  client/src/pages/BankStatementReconciliationPreview.jsx
  client/vite.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(stability): stabilize async modals, hooks, and test env
  client/src/components/TopBar.jsx
  client/src/components/ui/AsyncModal.jsx
  client/src/pages/Expenses.jsx
  client/src/pages/Invoices.jsx
Due: eslint --fix, prettier --write

release: add error boundaries, env guards, and production readiness docs
  RELEASE_CHECKLIST.md
  RELEASE_TAG_PLAN.md
  client/src/App.jsx
  client/src/components/AppErrorBoundary.jsx
  client/src/components/ErrorBoundary.jsx
  client/src/components/RouteErrorBoundary.jsx
  client/src/lib/envGuards.js
  client/src/main.jsx
  docs/FRONTEND_SECURITY.md
  docs/release/DEPLOYMENT_CHECKLIST.md
  docs/release/OBSERVABILITY.md
  docs/release/PRODUCTION_READINESS.md
  docs/release/RUNBOOK.md
  docs/release/SECURITY_HEADERS.md
  src/lib/migrationStatus.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

db: harden migrations and production safety (step E)
  config/sequelize.js
  docs/release/DATABASE_SAFETY.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

telemetry: add safe error reporting for backend and frontend
  docs/release/ERROR_REPORTING.md
Due: prettier --write

telemetry: add requestId to errors and safe client telemetry endpoint
  config/sequelize.js
  src/middleware/errorHandler.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(build): remove top-level await from AsyncModal
  client/src/components/ui/AsyncModal.jsx
Due: eslint --fix, prettier --write

feat: enhance frontend error boundaries, backend error handling, and telemetry
  client/src/components/AppErrorBoundary.jsx
  client/src/components/RouteErrorBoundary.jsx
  client/src/components/ui/AsyncModal.jsx
  client/src/lib/telemetryClient.js
  client/src/services/api.js
  docs/release/AI_PRODUCTION_INVARIANTS.md
  src/middleware/errorHandler.js
  tests/middleware/errorHandler.telemetry.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(ai): add production invariants, assistant contract, and governance
  docs/ai/AI_ASSISTANT_CONTRACT.md
  docs/ai/AI_GOVERNANCE.md
  docs/ai/AI_PRODUCTION_INVARIANTS.md
  docs/ai/README.md
Due: prettier --write

fix(ai): ensure requestId is generated in AI routes to satisfy governance and audit contracts
  src/routes/ai.js
  tests/routes/aiInsights.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ai: enforce sequelize singleton + safe associations + read-only decision capture
  src/config/database.js
  src/lib/database/index.js
  src/models/AIInsight.js
  src/models/AIInsightDecision.js
  src/models/ActiveToken.js
  src/models/Company.js
  src/models/User.js
  src/models/index.js
  src/routes/ai.js
  src/services/activeTokenService.js
  src/services/ai/decision/decisionContract.js
  src/services/ai/decision/decisionService.js
  src/services/ai/decision/decisionValidator.js
  tests/integration/aiMetaLogging.test.js
  tests/routes/aiDecisions.test.js
  tests/setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(api-timeout): resolve timedOut initialization bug causing 500 errors
  src/middleware/apiTimeout.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(auth): align error codes and refresh/logout semantics with security spec (phase 2.1)
  client/src/components/Sidebar.jsx
  src/middleware/authMiddleware.js
  src/routes/auth.js
  src/services/authService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Database-as-Law: legal lockdown (GoBD, UStG, GDPR, AI-safe)
  database/migrations/20260107000000-align-ai-insights-schema.js
  database/migrations/20260108001000-add-financial-integrity-checks.js
  database/migrations/20260109000000-lock-expenses-accountability.js
  database/migrations/20260109001000-lock-audit-immutability.js
  database/migrations/20260109002000-lock-tax-report-status.js
  database/migrations/20260110000000-lock-expenses-accountability-and-vat.js
  database/migrations/20260111002000-strengthen-status-and-enum-checks.js
  database/migrations/20260111003000-sqlite-parity-shims.js
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/compliance/DB_AS_LAW_REPORT.md
  src/models/AuditLog.js
  src/models/Expense.js
  src/routes/compliance.js
  src/routes/expenses.js
  src/routes/exports.js
  src/services/expenseService.js
  src/services/gdprService.js
  tests/postgres/complianceConstraints.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Legal Hardening: Database-as-Law, compliance CI, security & audit enforcement
  .cspell.json
  .github/workflows/ci.yml
  config/sequelize.js
  docker-compose.dev.yml
  package.json
  src/app.js
  src/config/swagger.js
  src/middleware/authMiddleware.js
  src/security/permissionGuard.js
  src/security/permissions.js
  src/server.js
  tests/routes/compliance.test.js
  tests/setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(accounting): support partially paid invoices with guarded demo seed
  .cspell.json
  client/src/locales/ar/translation.json
  client/src/locales/de/translation.json
  database/migrations/20260113000000-add-partially-paid-invoice-status.js
  database/seeders/demo/20251226-demo-seed.js
  docs/OPERATIONS_RUNBOOK.md
  src/models/Invoice.js
  src/services/invoiceService.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(compliance): stabilize demo seed, partial payments, and ops readiness
  .cspell.json
  Dockerfile.backend
  GOBD_COMPLIANCE_STATEMENT.md
  database/seeders/demo/20251226-demo-seed.js
  src/routes/exports.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(accounting): support partially paid invoices with compliant demo seed
  src/routes/exports.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(lint): stabilize CompanyContext effect and remove duplicate vite server key
  client/src/context/CompanyContext.jsx
  client/vite.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(lint): enforce single quotes in InvoiceForm
  client/src/components/invoices/InvoiceForm.jsx
  client/src/services/api.js
  client/vite.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(build): add @babel/preset-react to root devDependencies for Jest/Docker
  package-lock.json
  package.json
Due: prettier --write
